<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>

<style>
  .bottom-three {
     margin-top: 0.9cm;
  }
</style>

<div class="btn-group bottom-three">
<!-- p>Create new subjects you would like to comment on:</p -->
<div class="well well-sm">
  Create new subjects you would like to comment on:
</div>
  <a href="#" class="btn btn-primary">New Subject</a>
  <a aria-expanded="false" href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="../people_subjects/new">People</a></li>
    <li><a href="#">Product</a></li>
    <li><a href="#">Company</a></li>
  </ul>
</div>

<div class="btn-group bottom-three">
<div class="well well-sm">
  Search for subjects you would like to comment on:
</div>
<!-- p>Search for subjects you would like to comment on:</p -->
  <a href="#" class="btn btn-primary">Advanced Search</a>
  <a aria-expanded="false" href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">People</a></li>
    <li><a href="#">Product</a></li>
    <li><a href="#">Company</a></li>
  </ul>
</div>

    </section>
  </aside>
</div>
